@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
    --pf: 259 94% 44%;
    --sf: 314 100% 40%;
    --af: 174 75% 39%;
    --nf: 214 20% 14%;
    --in: 198 93% 60%;
    --su: 158 64% 52%;
    --wa: 43 96% 56%;
    --er: 0 91% 71%;
    --inc: 198 100% 12%;
    --suc: 158 100% 10%;
    --wac: 43 100% 11%;
    --erc: 0 100% 14%;
    --rounded-box: 1rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --p: 259 94% 51%;
    --pc: 259 96% 91%;
    --s: 314 100% 47%;
    --sc: 314 100% 91%;
    --a: 174 75% 46%;
    --ac: 174 75% 11%;
    --n: 214 20% 21%;
    --nc: 212 19% 87%;
    --b1: 0 0% 100%;
    --b2: 0 0% 95%;
    --b3: 180 2% 90%;
    --bc: 215 28% 17%;
  }
}

.swal2-confirm {
  background-color: #007bff !important; /* 浅红色的确认按钮，自定义十六进制颜色 */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in > *:not(.page-loading):not(.custom-modal) {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pulse-once {
  animation: pulse-animation 0.3s forwards;
}

.custom-scrollbar {
  scrollbar-color: #888 transparent !important;
  scrollbar-width: thin !important;
}
